# Ignorar dependências, pois elas são instaladas dentro do contêiner
node_modules

# Ignorar arquivos de ambiente, eles são injetados pelo Docker Compose
.env

# Ignorar logs e outros artefatos de build/IDE
npm-debug.log
dist
.vscode
