@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Background Colors */
    --figma-background-color: rgba(208, 221, 228, 1);
    --light-background-color: rgba(255, 255, 255, 1);

    /* Primary Colors */
    --primary-color-1: rgba(207, 233, 255, 1);
    --primary-color-2: rgba(7, 80, 145, 1);
    --primary-color-3: rgba(200, 66, 65, 1);
    --primary-color-4: rgba(25, 37, 59, 1);
    --primary-color-5: rgba(168, 36, 38, 1);
    --primary-color-6: rgba(225, 92, 99, 1);
    --primary-color-7: rgba(144, 216, 255, 1);
    --primary-color-8: rgba(0, 46, 92, 1);

    /* Secondary Colors */
    --secondary-color-1: rgba(207, 133, 106, 1);
    --secondary-color-2: rgba(175, 106, 90, 1);
    --secondary-color-3: rgba(247, 186, 175, 1);

    /* Semantic Colors */
    --semantic-alert-color: rgba(237, 138, 39, 1);
    --semantic-success-color: rgba(46, 158, 68, 1);
    --semantic-error-color: rgba(215, 54, 53, 1);

    /* Hover Colors */
    --primary-color-2-hover: rgba(27, 126, 215, 1);

    /* Black and White */
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);

    /* Text-size styles */
    --h1-poppins: 64px;
    --h2-poppins: 44px;
    --h3-poppins: 21px;
    --h4-poppins: 20px;
    --h5-poppins: 19px;
    --btn-text-poppins: 16px;
    --menu-poppins: 16px;
    --paragraph-poppins: 16px;
    --h3-poppins-light: 19px;
    --h3-menu-poppins: 21px;
    --btn-text-small-poppins: 14px;
    --paragraph-poppins-small: 12px;
    --paragraph-poppins-small-semibold: 12px;
    }
}

@layer components {

  /*=========================== HEADER ====================================================================================*/
  /* Header container */
  .header-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  /* Header section */
  .header {
    @apply py-6 flex justify-between items-center;
  }

  /* Logo */
  .header-logo {
    @apply flex-shrink-0;
  }

  .header-logo img {
    @apply h-[60px] w-[60px]; /* 60px x 60px */
  }

  /* Navigation links */
  .header-nav {
    @apply hidden md:flex space-x-10;
  }

  .header-nav-link {
    @apply text-base font-medium text-gray-500 hover:text-gray-900;
    font-family: var(--menu-poppins);
  }

  /* Call-to-action container */
  .header-cta {
    @apply flex flex-row space-x-2; /* Flexbox para alinhar lado a lado */
  }

  .header-cta img {
    @apply h-5 w-5; /* Define o tamanho do ícone */
  }

  .header-cta a {
    @apply text-base font-medium text-gray-500 hover:text-gray-900 hidden md:flex space-x-10;
    font-family: var(--menu-poppins);
  }

  /*=========================== HERO ====================================================================================*/
  
  /*=========================== SOBRE NÓS ====================================================================================*/
  
  /*=========================== POR QUE DOAR? ====================================================================================*/

  /*=========================== MENSAGEM ====================================================================================*/
 
  /*=========================== FOOTER ====================================================================================*/
  .footer-container {
    background-color: var(--primary-color-2); /* Cor do texto */
    padding-top: 40px; /* Espaçamento acima do conteúdo */
    padding-bottom: 20px; /* Espaçamento acima do conteúdo */
  }
  
  .footer-content {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col items-center; /* Centraliza o conteúdo */
  }
  
  .footer-logo {
    @apply text-white text-2xl font-bold mb-6; /* Estilo do logo ou nome da marca */
  }
  
  .footer-nav {
    @apply flex flex-wrap justify-center gap-6 md:gap-8; /* Links de navegação */
  }
  
  .footer-nav-link {
    @apply text-base font-medium; /* Estilo base dos links */
    color: var(--white); /* Cor do texto */
    transition: color 0.3s ease-in-out; /* Suaviza a transição de cor */
  }
  
  .footer-nav-link:hover {
    color: var(--primary-color-1); /* Cor no hover */
  }

  .footer-social {
    @apply flex flex-row space-x-6; /* Alinha os ícones em uma linha com espaçamento entre eles */
    justify-content: center; /* Centraliza os ícones horizontalmente */
    margin-top: 20px; /* Adiciona espaçamento acima dos ícones */
    margin-bottom: 20px; /* Adiciona espaçamento abaixo dos ícones */
  }
  
  .footer-social-link {
    @apply text-gray-400; /* Cor inicial dos ícones */
    color: var(--white); /* Cor do texto */
    transition: color 0.3s ease-in-out; /* Suaviza a transição de cor */
  }
  
  .footer-social-link:hover {
    color: var(--primary-color-1); /* Cor no hover */
  }
  
  .footer-copyright {
    color: var(--white); /* Cor do texto */
  }

  /*=========================== Rolagem ====================================================================================*/
  html {
    scroll-behavior: smooth; /* Habilita a rolagem suave */
  }
}