.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--light-background-color);
  }
  
  .login-title {
    font-size: var(--h2-poppins);
    color: var(--primary-color-4);
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: var(--paragraph-poppins);
    color: var(--primary-color-4);
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color-2);
    border-radius: 5px;
  }
  
  .btn-login {
    background-color: var(--primary-color-2);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--btn-text-poppins);
  }
  
  .btn-login:hover {
    background-color: var(--primary-color-4);
  }